body{
  color:#50cbca;
  background-color: gray;
}

li{
  display: inline-block;;
  list-style-type: none;
  width:22%;
  float: left;
  margin-right: 3%;
}

.pic img {
  width: 100%;
  height: 25%;
}
a{
  text-decoration: none;
}
a h3{

  color: #50cbca;
  text-align: center;
}
